.card-list {
  margin: 0 auto;
  padding: 70px 70px 80px;
}

.card-list__container {
  padding: 0;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 800px) {
  .card-list {
    padding: 60px 30px 80px;
  }
}

@media screen and (max-width: 500px) {
  .card-list {
    padding: 40px 10px 80px;
  }
}
