.card {
  background: #f9f9f9;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.card__info {
  padding: 22px;
  position: relative;
  max-width: 60%;
  text-align: left;
}

.card__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* max-width: 80%; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
}

.card__length {
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 13px 0 30px;
}

.card__like {
  background-image: url(../../images/like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 14px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  transition: 0.4s ease;
}

.card__like_active {
  background: no-repeat url(../../images/like_active.svg);
}

.card__btn-remove {
  background: no-repeat url(../../images/cross_remove.svg);
  width: 14px;
  height: 12px;
  padding: 0;
  cursor: pointer;
}

.card__image {
  padding: 6px;
}

@media screen and (max-width: 700px) {
  .card {
    display: flex;
    flex-direction: column-reverse;
  }
  .card__info {
    padding: 14px 16px 2px 12px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .card__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 80%;
  }
  .card__length {
    margin: 8px 0 0;
  }
  .card__image {
    padding: 0;
  }
  .card__like {
    align-self: flex-end;
    position: relative;
    top: -34px;
  }

  .card__btn-remove {
    align-self: flex-end;
    position: relative;
    top: -34px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    margin-bottom: 20px;
  }
}
