.movies {
  text-align: center;
}

.movies__btn-more {
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  max-width: 320px;
  width: 100%;
  height: 36px;
  margin-top: 20px;
}

@media screen and (max-width: 800px) {
  .movies__btn-more {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  .movies__btn-more {
    margin-top: 30px;
  }
}
