.profile {
  margin: 0 auto;
  text-align: center;
  max-width: 410px;
  padding-bottom: 40px;
}

.profile__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 74px 0 123px;
  margin: 0;
}

.profile__info {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
  margin: 0;
}

.profile__info:first-of-type {
  padding-bottom: 17px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 17px;
  /* box-sizing: border-box; */
}

.profile__info-value {
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 0;
  margin: 0;
}
.profile__span {
  color: #ff4062;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  height: 12px;
  text-align: center;
}

.profile__btn-edit {
  display: block;
  margin: 0 auto;
  border: 0;
  background-color: transparent;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 220px 0 17px;
}

.profile__btn-exit {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #ff4062;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 800px) {
  .profile__title {
    padding: 236px 0 96px;
  }
  .profile__btn-edit {
    padding: 210px 0 16px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    max-width: 260px;
  }
  .profile__title {
    padding: 70px 0 80px;
  }
  .profile__btn-edit {
    padding: 379px 0 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .profile__btn-exit {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
