.profile {
  margin: 0 auto;
  text-align: center;
  max-width: 410px;
}

.profile__title-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 74px 0 123px;
  margin: 0;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
}

.profile__label:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
}

.profile__input {
  color: #000;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 0;
}

.profile__input:focus {
  outline: 1px dotted #e8e8e8;
  font-weight: 900;
}

.profile__btn-submit {
  border: 0;
  background-color: transparent;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 220px 0 16px;
}

.profile__error-span {
  color: #ff004c;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 20px;
  display: block;
}

.profile__btn-exit {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #ff4062;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media screen and (max-width: 800px) {
  .profile__title-name {
    padding: 236px 0 96px;
  }
  .profile__btn-submit {
    padding: 210px 0 16px;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    max-width: 260px;
  }
  .profile__title-name {
    padding: 70px 0 80px;
  }
  .profile__btn-submit {
    padding: 379px 0 16px;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .profile__btn-exit {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
