.profile-edit__form {
  margin: 0 auto;
  text-align: center;
  max-width: 410px;
}

.profile-edit__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 74px 0 123px;
  margin: 0;
}

.profile-edit__label {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0;
}

.profile-edit__label:first-of-type {
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
}

.profile-edit__input {
  color: #000;
  text-align: right;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  padding: 0;
}

.profile-edit__input:focus {
  outline: 1px dotted #e8e8e8;
  font-weight: 900;
}

.profile-edit__btn-submit {
  max-width: 396px;
  width: 100%;
  height: 45px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile-edit__error-span {
  color: #ff004c;
  text-align: center;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 189px 0 20px;
  display: block;
  height: 14px;
}

@media screen and (max-width: 800px) {
  .profile-edit__title {
    padding: 236px 0 96px;
  }
}

@media screen and (max-width: 500px) {
  .profile-edit__form {
    max-width: 260px;
  }
  .profile-edit__title {
    padding: 70px 0 80px;
  }
  .profile-edit__error-span {
    padding: 329px 0 20px;
  }
}
