.auth {
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0;
}

/* .auth__form {
} */

.auth__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 38px 0;
  padding: 0;
}

.auth__label {
  color: #a0a0a0;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.auth__input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 0 10px;
}

.auth__input:invalid {
    color: #FF4062;
}

.auth__input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.auth__input_error {
  color: #ff4062;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 6px 0 0;
}

.auth__button {
    max-width: 396px;
    width: 100%;
height: 45px;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
    position: relative;
top: 134px;
}

.auth__text {
color: #A0A0A0;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-right: 6px;

}

.auth_link {
    display: block;
    padding-top: 16px;
    text-align: center;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
    position: relative;
top: 134px;
}
