.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 18px 70px;
}

.header_pink {
    background: #F3C1F8;
}

.header__logo_link{
    font-size: 0;
}

.header__container {
    font-size: 0;
}

.header__link {
    color: #000;
font-size: 12px;
 font-weight: 500;
line-height: 133.333%;
text-decoration: none;

}

.header__btn {
padding: 8px 20px;
background-color: #000;
border-radius: 3px;
color: #FFF;
font-size: 12px;
font-weight: 500;
line-height: 133.333%;
text-decoration: none;
margin-left: 30px;
}

@media screen and (max-width: 815px) {
    .header {
      padding: 18px 30px;

    }
}

@media screen and (max-width: 500px) {
    .header {
      padding: 18px 14px;

    }
    .header__link {
        font-size: 10px;
        line-height: 16px; 
    }
    .header__btn {
        margin-left: 14px;
        font-size: 10px;
        line-height: 16px; 
        padding: 5px 12px;

    }
}