.checkbox__label {
  /* text-align: left; */
  display: flex;
  max-width: 170px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkbox__design {
  display: block;
  padding-right: 14px;
  width: 30px;
  height: 20px;
  background-image: url("../../images/smalltumboff.svg");
  background-repeat: no-repeat;
  transition: 0.5s ease;
}

.checkbox__input:checked + .checkbox__design {
  background-image: url("../../images/smalltumb_active.svg");
}

@media screen and (max-width: 800px) {
.checkbox__label {
    flex-direction: row-reverse;
    justify-self: flex-end;
    text-align: end;
  }

  .checkbox__design {
    padding-right: 0;
    padding-left: 16px;
    background-position: right;
  }
}

@media screen and (max-width: 500px) {
.checkbox__label {
  width: 148px;
    font-size: 11px;
    text-align:start;
margin: 0 auto;
}

  .checkbox__design {
    width: 36px;
        padding-left: 13px;

  }
}
