.checkbox__label {
  /* text-align: left; */
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.checkbox__design {
  display: inline-block;
  padding-right: 14px;
  width: 30px;
  height: 20px;
  background-image: url("../../images/smalltumboff.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.5s ease;
}

.checkbox__input:checked + .checkbox__design {
  background-image: url("../../images/smalltumb_active.svg");
}
