.project {
    max-width: 1140px;
    margin: 0 auto;
}

.project__title {
font-size: 22px;
font-weight: 400;
letter-spacing: -0.88px;
margin: 0;
padding: 110px 0 23px;
border-bottom: 1px solid #000;
}

.project__subtitle {
font-size: 20px;
font-weight: 400;
letter-spacing: -0.8px;
margin: 0;
padding: 70px 0 26px;
}

.project__text {
    max-width: 550px;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}