.project {
  padding: 110px 70px 102px;
  margin: 0 auto;
}

/* .project__title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  margin: 0;
  padding: 0 0 24px;
  border-bottom: 1px solid #000;
} */

.project__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-template-rows: 1fr min-content;
  column-gap: 38px;
}

.project__subtitle {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.8px;
  margin: 0;
  padding: 70px 0 26px;
}

.project__text {
  margin: 0;
  max-width: 550px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.project__scale {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 40px;
  padding: 112px 0 0;
  text-align: center;
  margin: 0;
  
}

.project__week {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 228px;
  height: 36px;
  background-color: #000;
  padding: 9px 0 0;
  margin: 0;
  box-sizing: border-box;
}

.project__weeks {
  max-width: 912px;
  height: 36px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background: #f2f2f2;
  justify-content: center;
  padding: 9px 0 0;
  margin: 0;
  box-sizing: border-box;
}

.project__underline {
  color: #a0a0a0;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  margin: 0;
  padding: 14px 0 0;
}

@media screen and (max-width: 815px) {
  .project {
    padding: 90px 50px 82px;
  }
  .project__container {
    column-gap: 32px;
  }
  .project__text {
    font-size: 12px;
    line-height: 18px; /* 150% */
  }

  .project__scale {
    padding-top: 93px;
    grid-template-columns: 1fr 3.77fr;

  }
}

@media screen and (max-width: 500px) {
  .project {
    padding: 70px 18px;
  }
  /* .project__title {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    padding: 0 0 28px;
  } */
  .project__container {
    grid-template-columns: none;
    grid-auto-flow: row;
  }
  .project__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    padding: 60px 0 16px;
  }
  .project__subtitle:last-child {
    padding: 56px 0 16px;
  }
  .project__text {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }

  .project__scale {
    padding-top: 60px;
    grid-template-columns: 1fr 1.84fr;
          grid-template-rows: 1fr 23px;

  }
  .project__week {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .project__weeks {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .project__underline {
    /* font-family: Suisse Intl; */
    font-size: 11px;
    line-height: normal;
    padding: 10px 0 0;

  }
}
