.button {
  border: none;
  border-radius: 3px;
  background: #000;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background: #f8f8f8;
  color: #c2c2c2;
}
