.title {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  margin: 0;
  padding: 0 0 24px;
  border-bottom: 1px solid #000;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
    padding: 0 0 28px;
  }
}