.footer {
  padding: 60px 70px 20px;
}

.footer__credit {
  color: #a0a0a0;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
}

.footer__year {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 100px;
  margin: 20px 0 0;
}

.footer__link-list {
  list-style: none;
  color: #000;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  gap: 20px;
  margin: 20px 0 0;
  padding: 0;
  float: right;
}

@media screen and (max-width: 815px) {
  .footer {
    padding: 60px 30px 20px;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding: 60px 10px 20px;
  }
  .footer__credit {
    color: #a0a0a0;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer__link-list {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: block;
    text-align: center;
    float: unset;
    margin: 30px 0 0;
  }

  .footer__link-unit {
    padding-bottom: 12px;
  }

  .footer__year {
    text-align: center;
    max-width: 100%;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
