.aboutme {
  padding: 110px 70px 0;
}

.aboutme_photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  float: right;
  margin: 66px 0 0;
}

.aboutme__name {
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: 66px 0 0;
}

.aboutme__subtitle {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  margin: 18px 0 26px;
}

.aboutme__text {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  margin: 0 0 99px;
  max-width: 600px;
}

.aboutme__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 815px) {
  .aboutme {
    padding: 90px 50px 0;
  }
  .aboutme_photo {
    width: 255px;
    height: 307px;
  }
  .aboutme__name {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
  }
  .aboutme__subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    margin: 16px 0 20px;
  }
  .aboutme__text {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    max-width: 364px;
    margin: 0 0 87px;
  }
}

@media screen and (max-width: 560px) {
  .aboutme {
    padding: 70px 14px 0;
  }
  /* .aboutme__title {
        color: #000;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.72px;
    } */
  .aboutme_photo {
    float: none;
    margin: 60px auto 0;
    display: block;
    width: 292px;
    height: 352px;
    padding: 0;
  }
  .aboutme__name {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.2px;
    margin: 40px 0 0;
  }
  .aboutme__subtitle {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 145.455% */
    margin: 20px 0 20px;
  }
  .aboutme__text {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 145.455% */
    margin: 0 0 40px;
  }
}
